<?xml version="1.0"?>
<launch>
    <!-- <remap from="arm_controller/follow_joint_trajectory" to="/scaled_pos_joint_traj_controller/follow_joint_trajectory"/> -->
    <!-- <remap from="gripper/command_robotiq_action" to="/command_robotiq_action"/> -->
    <arg name="sim" default="false"/>
    <arg name="real" default="false"/>
    
    <include file="$(find ur3_realsense_85_moveit)/launch/move_group.launch">
      <!-- <arg name="limited" default="true"/> -->
      <arg name="debug" default="false" />
      <arg name="sim" value="$(arg sim)"/>

    </include>
    <remap if="$(arg real)" from="arm_controller/follow_joint_trajectory" to="/scaled_pos_joint_traj_controller/follow_joint_trajectory"/>
    <!-- <remap if="$(arg sim)" from="/scaled_pos_joint_traj_controller/follow_joint_trajectory" to="/arm_controller/follow_joint_trajectory"/> -->

    <!-- <arg name="command_args" value="-d $(find ur3_moveit_tsuchida_new)/rviz/moveit.rviz" /> -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ur3_realsense_85_moveit)/rviz/moveit.rviz" required="true" />
</launch>
