<?xml version="1.0"?>
<launch>
  <include file="$(find arm_and_gripper)/launch/ur3e_upload_gripper_camera.launch"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="true"/>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find arm_and_gripper)/rviz/view_robot.rviz" required="true" />
</launch>
