<?xml version="1.0"?>
<launch>
   <arg name="model" default="$(find pick_and_place)/urdf/ur3_camera.urdf.xacro"/> 
   <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
   <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
   <arg name="gui" default="true" doc="Starts gazebo gui" />

   <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/> 
    <arg name="gui" value="$(arg gui)"/>
   </include>

   <!-- send robot urdf to param server -->
  <include file="$(find pick_and_place)/launch/ur3_camera_uprode.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot" respawn="false" output="screen" />

  <include file="$(find ur_gazebo)/launch/controller_utils.launch"/>

  <!-- start this controller -->
  <rosparam file="$(find ur_gazebo)/controller/arm_controller_ur3.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>

  <!-- load other controllers -->
  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load joint_group_position_controller" />

  <!-- spawn the bin in gazebo -->
  <node pkg="gazebo_ros" type="spawn_model" name="bin" args="-file $(find pick_and_place)/urdf/bin_v2.urdf.xacro -urdf -model bin -y 0.4 -x 0.0 -z 0.0"/>

  <!-- spawn the camera in gazebo -->
  <!-- <node pkg="gazebo_ros" type="spawn_model" name="camera" args="-file $(find pick_and_place)/urdf/camera_v2.urdf.xacro -urdf -model camera -x 0.3 -y 0.0 -z 2.0"/> -->
  
  <!-- spawn the desk in gazebo -->
  <node pkg="gazebo_ros" type="spawn_model" name="desk" args="-file $(find pick_and_place)/urdf/desk_v2.urdf.xacro -urdf -model desk -x 0.3 -y 0.0 -z 0.0"/>
  <!-- spawn the redbox in gazebo -->
  <node pkg="gazebo_ros" type="spawn_model" name="redbox" args="-file $(find pick_and_place)/urdf/redbox_v2.urdf.xacro -urdf -model redbox -x 0.3 -y -0.1 -z 0.6"/>
</launch>